/* CSS FLEXBOX */

.header {
	background-color: #1d1e20;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
}

.menu li a{
	display: block;
	padding: 10px;
}

h1 {
	text-align: center;
	margin-top: 100px;
}

img{
	max-width: 100%;
	display: block;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;

}

.flex > div {
	flex: 1 1 200px;
	margin: 10px;
}


/*CSS GRID*/

.grid1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 780px;
	margin: 0 auto;
	grid-gap: 20px;
	background-color: blue;
}

.grid1 > div:nth-child(n + 4) {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	align-items: center;
	background-color: tomato;
}

.grid1 > div.anuncio {
	grid-column: 1;
	grid-row: 2/ 5;
	display: block }